body {
    background-image: url("BG.png");
/*    padding: 0 10px;*/
    align-content: center;
}

a {
    color: black;
}

.link {
    color: black;
    background-color: white;
    border: solid black;
}

nav {
    font-size: xx-large;
    text-align: right;
}

footer {
    font-size: x-large;
    background-color: aquamarine;
    border: solid black;
    margin: 1%;
}

img {
    margin: auto;
    display: block;
  height: auto;
  width: auto;
max-width: 80%;
}

h1 {
    margin: 2%;
    color: black;
    text-align: center;
    font-size: xx-large;
}

article {
    margin: 3%;
}

p {
    margin: 2%;
    font-size: xx-large;
}

ul {
    color: black;
    margin: 2%;
    font-size: xx-large;
}

.page {
    border: solid 3px white;
    margin: 10%;
    background-color: aquamarine;
}

.navigator {
    text-align: right;
    background-color: aquamarine;
    border: solid black;
    padding: 1% 1%;
}

.head {
    margin: 0;
    padding: 0% 1%;
    font-size: xx-large;
    background-color:transparent;
    border: unset;
    color: darkblue;
    float: left;
}

.projects {
    margin: 0;
    /*    padding: 0% 1%;*/
    background-color: transparent;
    border: unset;
    display: inline-block;
    text-align: center;
    color: darkblue;
    font-size: large;
}

.list {
    text-align: left;
}

.link2{
    font-size: x-large;
}